1. Get weapons 
2. Use those weapons to kill your opponent
3. You can only jump 5 times at a time
4. a/left_arrow = move left
5. d/right_arrow = move right
6. w/up_arrow = jump
7. s/down_arrow = attack
